{% extends "admin_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="row container">
        <div class="col-md-12">
        <h3 class="lead text-muted">Summary Stats</h3>
    </div>
    <div class="col-md-4">
        <canvas id="myPieChart" width="100%" height="100%" class="p-4"></canvas>
        <script>
        var barColors = [
            "#00BCD4",
            "#2196F3",
            "#F44336"
        ];

        new Chart("myPieChart", {
            type: "pie",
            data: {
                labels: {{labels|tojson}},
                datasets: [{
                    backgroundColor: barColors,
                    data: {{data|tojson}}
                }]
            },


            options: {
                plugins: {
                    title: {
                        display: true,
                        text: 'Room Stats - Status',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                        font:{
                            weight:'bold',
                            size:15,
                        },
                    }
                }
                // end of plugins
            }

        });
        </script>
    </div>
    <div class="col-md-8">
        <canvas id="myBarChart" width="100%" height="50" class="p-4"></canvas>
        <script>
        var barColors = ["red", "#FF4081", "#009688", "orange"];

        new Chart("myBarChart", {
        type: "bar",
        data: {
            labels: {{labels2|tojson}},
            datasets: [{
                backgroundColor: barColors,
                data: {{data2|tojson}}
            }]
        },
            options: {

                plugins: {
                    legend: {
                        display: false
                    },

                    title: {
                        display: true,
                        text: 'Room Stats - Size',
                        padding: {
                            top: 10,
                            bottom: 30
                        },
                        font:{
                            weight:'bold',
                            size:15,
                        },
                    }
                }
            }

        });
        </script>
    </div>
    <div class="col-md-12">

        <h3 class="lead text-muted">Reports</h3>
    <a class="btn btn-primary" href="{{url_for('reports.users_report')}}" class="text-white">Users <i class="bi bi-download m-1"></i></a> 

       <a class="btn btn-primary" href="{{url_for('reports.rooms_report')}}" class="text-white">Rooms <i class="bi bi-download m-1"></i></a> 

   <a class="btn btn-primary" href="{{url_for('reports.hostel_report')}}" class="text-white">Hostels<i class="bi bi-download m-1"></i></a> 

   <a class="btn btn-primary" href="{{url_for('reports.users_report')}}" class="text-white">Transactions<i class="bi bi-download m-1"></i></a> 


    </div>
</div>
{% endblock%}