{% extends "admin_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container">
    <h1 class="text-primary">Hostels</h1>
    <p>
        <a class="btn btn-primary btn-sm" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
            {{ action }} <i class="bi bi-folder-plus m-1"></i>
        </a>
    </p>
    <div class="collapse" id="collapseExample">
        <form method="POST" action="{{ request.path }}">
            {{ form.csrf_token }}
            <div class="form-group">
                {{ form.name(class="form-control",placeholder="Hostel Name")}}
            </div>
            {% for error in form.name.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.location(class="form-control",placeholder="Location")}}
            </div>
            {% for error in form.location.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.management(class="form-control",placeholder="Management")}}
            </div>
            {% for error in form.management.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.rooms(class="form-control",placeholder="Number of rooms")}}
            </div>
            {% for error in form.rooms.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.caretaker(class="form-control",placeholder="Caretaker")}}
            </div>
            {% for error in form.caretaker.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.contact(class="form-control",placeholder="Phone NUmber")}}
            </div>
            {% for error in form.contact.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <div class="form-group">
                {{ form.description(class="form-control",placeholder="Add a description")}}
            </div>
            {% for error in form.description.errors %}
            <div class="alert alert-danger mt-2">
                <button type="button" class="close" data-dismiss="alert">&times;</button>
                {{ error }}
            </div>
            {% endfor%}
            <button type="submit" class="btn btn-primary"> {{ action_btn }} </button>
        </form>
    </div>
</div>
<div class="container">
    <div class="container">
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Name</th>
                        <th scope="col">Location</th>
                        <th scope="col">Management</th>
                        <th scope="col">Capacity</th>
                        <th scope="col">Caretaker</th>
                        <th scope="col">Phone</th>
                        <th scope="col">Description</th>
                    </tr>
                </thead>
                <tbody>
                    {% for hostel in hostels %}
                    <tr>
                        <th scope="row">{{ hostel.name }}</th>
                        <td>{{ hostel.location }}</td>
                        <td>{{ hostel.management }}</td>
                        <td>{{ hostel.rooms }}</td>
                        <td>{{ hostel.caretaker }}</td>
                        <td>{{ hostel.contact }}</td>
                        <td>{{ hostel.description }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="{{ url_for('adm.hostel_view',hostel_id=hostel.id) }}" class="text-white"><i class="bi bi-eye m-1"></i> </a>
                            </button>
                        </td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm">
                                <a href="{{ url_for('adm.edit_hostel',hostel_id=hostel.id) }}" class="text-white"><i class="bi bi-pencil m-1"></i> </a>
                            </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}