{% extends "admin_base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container">
    <div class="container">
        <p class="lead text-primary">Available Rooms </p>
        <div class="table-responsive-lg">
            <table class="table table-hover">
                <thead>
                    <tr>
                        <th scope="col">Room No</th>
                        <th scope="col">Rent</th>
                        <th scope="col">Deposit</th>
                        <th scope="col">Amenities</th>
                        <th scope="col">Size</th>
                        <th scope="col">Manage</th>
                    </tr>
                </thead>
                <tbody>
                    {% for room in rooms %}
                    <tr>
                        <th scope="row">{{ room.id }}</th>
                        <th scope="row">{{ room.rent }}</th>
                        <td>{{ room.deposit }}</td>
                        <td>{{ room.amenities }}</td>
                        <td>{{ room.size }}</td>
                        <td>
                            <button type="button" class="btn btn-primary btn-sm"> <a href="{{url_for('adm.edit_room',room_id = room.id,hostel_id=room.hostel_id)}}" class="text-white">Edit Room</a> </button>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>
{% endblock%}