{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container">
    <div class="row">
        <div class="col-md-12 col-lg-12 px-0 h-100 bg-white shadow-sm">
            <div class="table-responsive-lg">
                <table class="table table-hover table-borderless">
                    <thead>
                        <tr>
                            <th scope="col">Name</th>
                            <th scope="col">Location</th>
                            <th scope="col">Management</th>
                            <th scope="col">Rooms available</th>
                            <th scope="col">Caretaker</th>
                            <th scope="col">Phone</th>
                            <th scope="col">Description</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hostel in hostels %}
                        <tr>
                            <th scope="row">{{ hostel.name }}</th>
                            <td style="padding: 0px;">{{ hostel.location }}</td>
                            <td style="padding: 0px;">{{ hostel.management }}</td>
<td style="padding: 0px;">{{Room.query.filter_by(status='Vacant',hostel_id=hostel.id).order_by(Room.id.desc()).count() }}</td>
                            <td style="padding: 0px;">{{ hostel.caretaker }}</td>
                            <td style="padding: 0px;">{{ hostel.contact }}</td>
                            <td style="padding: 0px;">{{ hostel.description }}</td>
                            <td style="padding: 0px;">
                                <a class="btn btn-primary" data-toggle="collapse" href="#{{hostel.caretaker}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-plus m-1"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="6">
                                <div class="collapse" id="{{hostel.caretaker}}">
                                    <table class="table table-hover table-success">
                                        <thead>
                                            <tr>
                                                <th scope="col">Rent</th>
                                                <th scope="col">Deposit</th>
                                                <th scope="col">Amenities</th>
                                                <th scope="col">Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for room in available %}
                                            {% if room.hostel_id == hostel.id %}
                                            <tr>
                                                <th scope="row">{{ room.rent}} </th>
                                                <td> {{ room.deposit}} </td>
                                                <td> {{ room.amenities }} </td>
                                                <td> {{ room.size }} </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary">
                                                        <a href="{{ url_for('booking',room_id=room.id,hostel_id=hostel.id) }}" class="text-white"> Book<i class="bi bi-lock-fill m-1"></i> </a>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</div>
</div>
{% endblock%}