{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="container" style="margin-top: 5rem;">
    <div class="section-title">
        <h3>Complete <span>Reservation </span>/ Booking</h3>
    </div>
    <div class="row booking">
        <div class="col-md-6">
            <div class="w3-row">
                <div class="w3-half">
                    <label>Monthly Rent</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>Kshs. {{ room.rent }}</p>
                </div>
                <div class="w3-half">
                    <label>Entry Deposit</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>Kshs. {{ room.deposit }}</p>
                </div>
                <div class="w3-half">
                    <label>Available</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ room.amenities }}</p>
                </div>
                <div class="w3-half">
                    <label>Size</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ room.size }}</p>
                </div>
                <div class="w3-half">
                    <label>Hostel Name</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ hostel.name }}</p>
                </div>
                <div class="w3-half">
                    <label>Location</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i> {{ hostel.location }}</p>
                </div>
                <div class="w3-half">
                    <label>Management</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ hostel.management }}</p>
                </div>
                <div class="w3-half">
                    <label>Caretaker's Name</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ hostel.caretaker }}</p>
                </div>
                <div class="w3-half">
                    <label>Caretaker's Contact</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ hostel.contact }}</p>
                </div>
                <div class="w3-half">
                    <label>Description</label>
                    <p><i class="bi bi-check2-circle text-success m-1"></i>{{ hostel.description }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-6 text-center">
            <style type="text/css">
            .number-box {
                height: 40px;
                padding: 10px;
                border-radius: 30px;
                outline: none;
                color: black;
                border: 1px solid #2196F3;
            }

            .number-box::placeholder {
                color: black;
                padding-left: 1rem;
            }

            .mpesa {
                height: 15%;
            }
            #pay-btn{
                padding: 10px 24px;
            }
            </style>
            <img src="/static/img/lipa-na-mpesa.jpg" class="mpesa">
            <p>Enter your mpesa number and click pay.Format as 254768144877 </p>
            <form>
                <input type="text" name="" placeholder="254768144877" class="number-box">
                <div class="pt-2">
                    <a class="btn btn-primary rounded-pill" type="button" id="pay-btn">Click to Pay</a>
                </div>
            </form>
            <script type="text/javascript">
            $(document).ready(function() {
                $("#pay-btn").click(function() {
                    // disable button
                    $(this).prop("disabled", true);
                    // add spinner to button
                    $(this).html(
                        `<span class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span> Loading...`
                    );
                });
            });
            </script>
        </div>
    </div>
</div>
{% endblock%}