{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<!-- ======= Hero Section ======= -->
<section id="hero">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto pt-5 pt-lg-0 order-2 text-center" data-aos="fade-up">
                <div>
                    <h1>We Help you find the house you desire</h1>
                    <h2>We are Trusted and Reliable</h2>
                    <form method="POST" action="{{ url_for('result')}}">
                        <div class="search-box-wrapper" style="position:relative">
                            <input type="text" class="w3-input w3-border search-box" name="sval" id="sval" onfocus="this.value=''" placeholder="Search by location,estate,name" required>
                            <button class="w3-btn w3-blue w3-border search-button" type="submit">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</section><!-- End Hero -->
<main id="main">
    <!-- ======= Cta Section ======= -->
    <section id="stats" class="stats">
        <div class="row" data-aos="zoom-in">
            <div class="col-sm-4">
                <div class="stats-card">
                    <div class="value">{{ total }}</div>
                    <p class="stats-card-text">Total</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="stats-card">
                    <div class="value">{{ booked }}</div>
                    <p class="stats-card-text">Booked</p>
                </div>
            </div>
            <div class="col-sm-4">
                <div class="stats-card">
                    <div class="value">{{ available }}</div>
                    <p class="stats-card-text">Available</p>
                </div>
            </div>
        </div>
    </section>
    <!-- End Cta Section -->
    <a id="available"></a>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive-lg container">
                <div class="section-title">
                    <h3>Available <span>Rooms</span></h3>
                </div>
                <table class="table table-borderless table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Hostel</th>
                            <th scope="col">Location</th>
                            <th scope="col">Management</th>
                            <th scope="col">Rooms available</th>
                            <th scope="col">Caretaker</th>
                            <th scope="col">Phone</th>
                            <th scope="col">More</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for hostel in hostels %}
                        <tr>
                            <th scope="row">{{ hostel.name }}</th>
                            <td>{{ hostel.location }}</td>
                            <td>{{ hostel.management }}</td>
                            <td>{{Room.query.filter_by(status='Vacant',hostel_id=hostel.id).order_by(Room.id.desc()).count() }}</td>
                            <td>{{ hostel.caretaker }}</td>
                            <td>{{ hostel.contact }}</td>
                            <td>{{ hostel.description }}</td>
                            <td>
                                <a class="btn btn-primary btn-sm" data-bs-toggle="collapse" href="#book-{{hostel.id}}" role="button" aria-expanded="false" aria-controls="collapseExample">
                                    <i class="bi bi-plus m-1"></i>
                                </a>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="8">
                                <div class="collapse" id="book-{{hostel.id}}">
                                    <div class="section-title">
                                        <h3><span> {{ hostel.name }} </span></h3>
                                    </div>

                                    <table class="table table-borderless">
                                        <thead>
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th scope="col">Rent</th>
                                                <th scope="col">Deposit</th>
                                                <th scope="col">Amenities</th>
                                                <th scope="col">Size</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            {% for room in available_rooms %}
                                            {% if room.hostel_id == hostel.id %}
                                            <tr>
                                                <th></th>
                                                <th></th>
                                                <th scope="row">{{ room.rent}} </th>
                                                <td> {{ room.deposit}} </td>
                                                <td> {{ room.amenities }} </td>
                                                <td> {{ room.size }} </td>
                                                <td>
                                                    <button type="button" class="btn btn-primary btn-sm">
                                                        <a href="{{ url_for('booking',room_id=room.id,hostel_id=hostel.id) }}" class="text-white"> Book<i class="bi bi-lock-fill m-1"></i> </a>
                                                    </button>
                                                </td>
                                            </tr>
                                            {% endif %}
                                            {% endfor %}
                                        </tbody>
                                    </table>
                                </div>
                            </td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</main>
{% endblock%}