{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}

{% block content%}
</script>
<div class="row">
  <div class="col-md-12">
    <div class="text-center">
      <img src="/static/images/icons/undraw_warning_cyit.svg" alt="Request Time-Out" class="page-not-found">
      <h1 class="errors">Request Time-Out!</h1>
      <p>Our server or the user’s system is experiencing a heavy workload, or 
        there is a temporary internet surge which slows down the message being delivered to our server</p>
        <br>
        <button class="btn btn-outline btn-outline-info">Reload</button>
    </div>
  </div>
</div>

{% endblock%}