<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> {% block title%} {% endblock %} </title>
    <link rel="stylesheet" href="{{url_for('static',filename='base.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='index.css')}}">
    <link rel="stylesheet" href="{{url_for('static',filename='w3.css')}}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" />
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/typed.js/2.0.11/typed.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/waypoints/4.0.1/jquery.waypoints.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" />
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
</head>

<body>
    <!--part one-->
    <div class="scroll-up-btn" <i class="fas fa-angle-up"></i>
    </div>
    <nav id="navbar">
        <div class="max-width">
            <div class="logo"><a href="#">pata<span>Hao</span></a></div>
            <ul class="menu">
                <li><a href="#" class="menu-btn">Home</a></li>
                <li><a href="#" class="menu-btn">About</a></li>
                <li><a href="#" class="menu-btn">Services</a></li>
                <li><a href="#" class="menu-btn">Testimonials</a></li>
                <li><a href="#" class="menu-btn">Contact</a></li>
                {% if current_user.is_authenticated %}
                <li><a href="#" class="menu-btn"> {{current_user.uname}} </a></li>
                {%else%}
                <li><a href="#" class="menu-btn">Guest</a></li>
                {% endif %}
            </ul>
            <div class="menu-btn">
                <i class="fas fa-bars"></i>
            </div>
        </div>
    </nav>
    <!-- home section start -->
    <main>
        <div id="content-wrap">
            {% block content%}
            {% endblock %}
        </div>
    </main>
    <script src="{{url_for('static',filename='base.js')}}"></script>
    <script src="{{url_for('static',filename='index.js')}}"></script>

</body>

</html>