
        <div class="col-md-6">
            <form>
                <h4 class="form-title">Customize your search</h4>
                <div class="w3-container" style="position:relative">
                    <input type="text" class="w3-input w3-border search-box" placeholder="Enter location,estate ...">
                    <button class="w3-btn w3-blue w3-border search-button">Search</button>
                </div>
                <div>
                    <h4 class="filter-title">Filter by:</h4>
                </div>
                <div class="row filter-wrapper">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Price</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>3-4k</option>
                                <option>5-6k</option>
                                <option>7-8k</option>
                                <option>8-10k</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Location</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Town</option>
                                <option>Mukuyu</option>
                                <option>Area 4</option>
                                <option>Prison</option>
                                <option>VM</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Capacity</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Single</option>
                                <option>Bedsitter</option>
                                <option>1 Bedroom</option>
                                <option>2 Bedroom</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>





                      <!--   <div class="cta">
                    <a href="#contact" class="explore-button">Explore</a>
                </div>
 -->            