
        <div class="col-md-6">
            <form>
                <h4 class="form-title">Customize your search</h4>
                <div class="w3-container" style="position:relative">
                    <input type="text" class="w3-input w3-border search-box" placeholder="Enter location,estate ...">
                    <button class="w3-btn w3-blue w3-border search-button">Search</button>
                </div>
                <div>
                    <h4 class="filter-title">Filter by:</h4>
                </div>
                <div class="row filter-wrapper">
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Price</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>3-4k</option>
                                <option>5-6k</option>
                                <option>7-8k</option>
                                <option>8-10k</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Location</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Town</option>
                                <option>Mukuyu</option>
                                <option>Area 4</option>
                                <option>Prison</option>
                                <option>VM</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-sm-4">
                        <div class="form-group">
                            <label for="exampleFormControlSelect1">Capacity</label>
                            <select class="form-control" id="exampleFormControlSelect1">
                                <option>Single</option>
                                <option>Bedsitter</option>
                                <option>1 Bedroom</option>
                                <option>2 Bedroom</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
        </div>





                        <div class="cta">
                    <a href="#contact" class="explore-button">Explore</a>
                </div>
            




                <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title text-center">Edit User</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    {% for user in users %}
                    <form method="POST" action="{{url_for('adm.account',user_id =user.id)}}">
                        {% with messages = get_flashed_messages(with_categories=true) %}
                        <!-- Categories: success (green), info (blue), warning (yellow), danger (red) -->
                        {% if messages %}
                        {% for category, message in messages %}
                        <div class="alert alert-{{ category }} alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <!-- <strong>Title</strong> --> {{ message }}
                        </div>
                        {% endfor %}
                        {% endif %}
                        {% endwith %}
                        {{ form.csrf_token }}
                        <div class="form-group">
                            {{ form.email(class="form-control",placeholder="Email")}}
                        </div>
                        {% for error in form.email.errors %}
                        <div class="alert alert-danger mt-2">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                        {% endfor%}
                        <div class="form-group">
                            {{ form.uname(class="form-control",placeholder="Username")}}
                        </div>
                        {% for error in form.uname.errors %}
                        <div class="alert alert-danger mt-2">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                        {% endfor%}
                        <div class="form-group">
                            {{ form.pwd(class="form-control",placeholder="Password")}}
                        </div>
                        {% for error in form.pwd.errors %}
                        <div class="alert alert-danger mt-2">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                        {% endfor%}
                        <div class="form-group">
                            {{ form.cpwd(class="form-control",placeholder="Confirm Password")}}
                        </div>
                        {% for error in form.cpwd.errors %}
                        <div class="alert alert-danger mt-2">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ error }}
                        </div>
                        {% endfor%}
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                    {%endfor%}
                </div>
            </div>
        </div>
    </div>