{% extends "base.html" %}
{% block title%} {{ title }} {% endblock %}
{% block content%}
<div class="main-page">
    <div class="landing-page">
        <div class="row home-wrapper">
            <div class="col-md-12">
                <div class="hero">
                    <h1 class="hero-text">Where do you want to live ?</h1>
                    <h3>Usijali comrade,ushapata hao</h3>
                    <form>
                        <div class="w3-container search-box-wrapper" style="position:relative">
                            <input type="text" class="w3-input w3-border search-box" placeholder="Enter location,estate ...">
                            <button class="w3-btn w3-blue w3-border search-button">Search</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <div class="updates-wrapper">
            <div class="row updates">
                <div class="col-sm-4">
                    <div class="stats-card">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-house-fill" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="m8 3.293 6 6V13.5a1.5 1.5 0 0 1-1.5 1.5h-9A1.5 1.5 0 0 1 2 13.5V9.293l6-6zm5-.793V6l-2-2V2.5a.5.5 0 0 1 .5-.5h1a.5.5 0 0 1 .5.5z" />
                            <path fill-rule="evenodd" d="M7.293 1.5a1 1 0 0 1 1.414 0l6.647 6.646a.5.5 0 0 1-.708.708L8 2.207 1.354 8.854a.5.5 0 1 1-.708-.708L7.293 1.5z" />
                        </svg>
                        <div class="value" akhi="50">0</div>
                        <p class="stats-card-text">Total</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="stats-card">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-check-circle-fill" viewBox="0 0 16 16">
                            <path d="M16 8A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-3.97-3.03a.75.75 0 0 0-1.08.022L7.477 9.417 5.384 7.323a.75.75 0 0 0-1.06 1.06L6.97 11.03a.75.75 0 0 0 1.079-.02l3.992-4.99a.75.75 0 0 0-.01-1.05z" />
                        </svg>
                        <div class="value" akhi="70">0</div>
                        <p class="stats-card-text">Booked</p>
                    </div>
                </div>
                <div class="col-sm-4">
                    <div class="stats-card">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="currentColor" class="bi bi-bell" viewBox="0 0 16 16">
                            <path d="M8 16a2 2 0 0 0 2-2H6a2 2 0 0 0 2 2zM8 1.918l-.797.161A4.002 4.002 0 0 0 4 6c0 .628-.134 2.197-.459 3.742-.16.767-.376 1.566-.663 2.258h10.244c-.287-.692-.502-1.49-.663-2.258C12.134 8.197 12 6.628 12 6a4.002 4.002 0 0 0-3.203-3.92L8 1.917zM14.22 12c.223.447.481.801.78 1H1c.299-.199.557-.553.78-1C2.68 10.2 3 6.88 3 6c0-2.42 1.72-4.44 4.005-4.901a1 1 0 1 1 1.99 0A5.002 5.002 0 0 1 13 6c0 .88.32 4.2 1.22 6z" />
                        </svg>
                        <div class="value" akhi="99">0</div>
                        <p class="stats-card-text">Available</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock%}